/* BELLOW 960 */
@media (max-width: 60em) {
  html {
    font-size: 56.25%;
  }
  .main-nav {
    background-color: #f8f9fa;
    position: absolute;
    width: 100vw;
    top: 7.4rem;
    left: 0;
    display: flex;
    gap: 1.2rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    transition: all 0.5s;
  }
  .mobile-nav-open .main-nav {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateY(0);
  }

  .main-nav-list {
    flex-direction: column;
    width: 100vw;
    margin-top: 3rem;
    margin-left: 3rem;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    width: 100vw;
    padding: 1.2rem 100vw 1.2rem 0;
  }
  .btn-mobile-nav {
    display: block;
  }
  .btn-nav {
    display: none;
  }

  .grid--2-cols {
    grid-template-columns: 1fr;
  }
  .first {
    grid-row: 1;
  }
  .menu-section {
    margin: 0;
  }
}
/* BELLOW 840 */
@media (max-width: 52.5em) {
  html {
    font-size: 50%;
  }
  .hero-container {
    height: 60rem;
  }
  .restaurant-section {
    margin: 3.2rem;
  }
}
/* BELLOW 752 */
@media (max-width: 47em) {
  .grid--3-cols {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .three {
    grid-column: 1/-1;
    width: 40%;
  }
  .time-details {
    gap: 30rem;
  }
  .container-bgr {
    height: 70rem;
  }
}
/* BELLOW 608 */
@media (max-width: 38em) {
  .container {
    padding: 0 2.4rem;
  }
  .grid--3-cols {
    grid-template-columns: 1fr;
  }
  .menu {
    width: 70%;
  }
  .container-bgr {
    height: 60rem;
  }
  .time-details {
    gap: 20rem;
  }
  .grid-cta {
    grid-template-columns: 1fr;
  }
  .col {
    margin-bottom: 2.4rem;
  }
  .location-box {
    grid-template-columns: 1fr;
  }
  .footer-elmt span {
    font-size: 1.2rem;
    padding: 1.8rem 0;
  }
  .elmt-spc {
    padding: 1.8rem 0.8rem 1.8rem 1.8rem !important;
  }
  .location-section {
    margin: 4.8rem 0 3.2rem 0;
  }
}
/* BELLOW 464 */
@media (max-width: 29em) {
  .time-details {
    gap: 10rem;
  }
  .container-bgr {
    height: 40rem;
  }
  .time-between {
    font-size: 1.6rem;
  }
  .menu {
    width: 85%;
  }
  .footer {
    margin: 1.2rem;
  }
  .footer-elmt span {
    font-size: 0.8rem;
    padding: 1.2rem 0;
  }
  .elmt-spc {
    padding: 1.2rem 0.8rem 1.2rem 1.2rem !important;
  }
}
